<!DOCTYPE html>
<html>
<head>
    <title>Weapons - Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Weapons Project Home</h1>
    <a href="/all_weapons">View all weapon data &#8594</a>
    <ul>
        <li><a href="/correlated">Correlated Subquery</a></li>
        <li><a href="/distinct">DISTINCT Query</a></li>
        <li><a href="/group">GROUP BY Query</a></li>
        <li><a href="/join-group-having-derived">JOIN GROUP HAVING derived Query</a></li>
        <li><a href="/order">ORDER BY Query</a></li>
        <li><a href="/union">UNION Query</a></li>
        <li><a href="/join">Subquery in a JOIN Query</a></li>
        <li><a href="/in-n-out">Compare Inner Data to Outer Data Query</a></li>
        <li><a href="/exists">EXISTS Subquery Query</a></li>
        <li><a href="/in">IN Subquery Query</a></li>
    </ul>
</body>
</html>
